{% load static %}

<!DOCTYPE html>
<html lang="en">
    <header>
        <title> NN Shelter Reservations</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" type="text/css" href="{% static 'rezsystem/CSS/index.css' %}">
        <link rel="stylesheet" href="{% static 'rezsystem/CSS/FAQ.css' %}">
    </header>
    <body>
        <div class="container">
            {% block nav%}
            <nav class="logo">
                <img src="{% static 'rezsystem/images/logo/NNLogo.png' %}" alt="NNLogo" class="logo"/>
                <p class="p-header"> Picnic Shelter Reservation System </p>

                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="#">Maps</a></li>
                    <li><a href="#">Rules</a></li>
                    <li><a href="{% url 'FAQ' %}">FAQ</a></li>
                    <li><a href="#">Checkout</a></li>
                </ul>
            </nav>
            {% endblock %}
        </div>
    <main>

        {% block content %}
    
    <!--All Webpages that extend this base html file and use the block tags will display content here-->

        {% endblock %}
    </main>

    </body>
</html>