{% extends 'base.html' %}
{% load static %}

{% block content %}
        <header class="header">
            <div class="picnic-container">
                <div class="picnicimage" style="background-image: url('{% static 'rezsystem/images/sheltermaps/19&20.jpg' %}')">
                    <div class="picnictext">
                        <h1>Picnic Shelters</h1>
                    </div>
                </div>
            </div>
        </header>    
            <div class="picnicinfo">
                <div class="index-boxtable">
                    <div class="index-boxrow">
                        <div class="index-boxcell1">PICNIC IN</div>
                    </div>
                    <div class="index-boxrow">
                        <div class="index-boxcell2">OUR PARKS</div>
                    </div>
                    <div class="index-boxrow">
                        <div class="index-boxcell3">
                            <br>
                            Newport News has 35 picnic shelters in 8 parks across the City that can be reserved for picnic activities.<br>
                            The city offers three sizes of shelters that accommodate different levels of people: <br><br>
                            <ul class="index-list">
                                <li> 
                                    <div class="list-cell">Shelter Size</div>
                                    <div class="list-cell"># of People</div>
                                    <div class="list-cell">Ammenties</div>
                                    <div class="list-cell">Cost</div>
                                </li>
                                <li>
                                    <div class="list-cell">Full</div>
                                    <div class="list-cell">up to 35 people</div>
                                    <div class="list-cell">3-4 tables / 1 grill.</div>
                                    <div class="list-cell">$75/day</div>
                                </li>
                                <li>
                                    <div class="list-cell">Large</div>
                                    <div class="list-cell">up to 75 people</div>
                                    <div class="list-cell">8 tables / 1 large grill</div>
                                    <div class="list-cell">$125/day</div>
                                </li>
                                <li>
                                    <div class="list-cell">Group</div>
                                    <div class="list-cell">up to 100 people</div>
                                    <div class="list-cell">15 tables / 1 large grill</div>
                                    <div class="list-cell">$200/day</div>
                                </li>
                            </ul> 
                            <br>
                            General Shelter Information:
                        </div>
                    </div>
                    <div class="index-boxrow">
                        <div class="index-boxcell4">
                            <ul>
                                <li>Payment for the shelter is due at time of reservation.</li><br>
                                <li>Shelter Reservations are good for the entire day<li><br>
                                <li>Electricity is available, at some shelters, for an additional $10.</li><br>
                                <li>All parks are open Sunrise to Sunset.</li><br>
                                <li>Reserved shelters are guaranteed to be cleaned by 10:00 a.m.</li><br>
                                <li>Picnics with special activities (rental equipment, entertainment, weddings, etc.) must contact the 
                                Special Activity Coordinator (757-886-7912) for permit information.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="index-boxrow">
                        <div class="index-boxcell6">
                            <br>
                            Reservations can be made over the phone by calling 757-888-3333 or toll free at 1-800-203-8322. <br>
                            Reservations can also be made in person at the Newport News Park Campsite Office, Deer Park, or the Parks & Recreation Office at 700 Town Center Drive (3rd floor).<br>  
                            Credit cards are accepted at the Newport News Park Campsite Office.<br><br>
                        </div>
                    </div>
                    <div class="index-boxrow">
                        <div class="index-boxcell5">
                            <a href="#" class="button-link">RESERVE TODAY</a>
                        </div>    
                    </div>
                </div> 
            </div> 
{% endblock %}
