{% extends 'base.html' %}

{% block content %}

    <body>
        <header class="header">
                <div class="picnic-container">
                    <div class="picnicimage" style="background-image: url('{% static 'rezsystem/images/sheltermaps/19&20.jpg' %}')">
                        <div class="picnictext">
                            <h1>Picnic Shelters</h1>
                        </div>
                    </div>
                </div>
                <div class="picnicinfo">
                    <p1>
                        PICNIC IN
                    </p1>

                    <p2>
                        <br> OUR PARKS <br><br>
                    </p2>
                    <p3> 
                        <br> Newport News has 33 picnic shelters in eight parks across the City that can be reserved for picnic activities.
                        <br> The city offers three sizes of shelters that accommodate different levels of people:
                        <br> A Full Shelter, which accommodates approximately 35 people, has three to four tables and one grill.
                        <br> A Large Shelter, which accomodates approximately 75 people, has eight tables and one large grill.
                        <br> A Group Shelter, which accommodates approximately 100 people, has fifteen tables and one large grill.
                        <br> Electricity is available at some shelters. All parks are open Sunrise to Sunset.<br>
                        <br>Reserved shelters are cleaned by 10:00 a.m. Picnics with special activities (rental equipment, entertainment, weddings, etc.) must contact the 
                        Special Activity Coordinator (757-886-7912) for permit information. 
                    </p3>
                    <br>
                    <p4>  
                        Reservations can be charged over the phone by calling 757-888-3333 or toll free at 1-800-203-8322.
                        Reservations can also be made in person at the Newport News Park Campsite Office, Deer Park, or the Parks & Recreation Office at 700 Town Center Drive (3rd floor). 
                        Credit cards are accepted at the Newport News Park Campsite Office.
                    </p4>
                    <br><br><br><br>
                    <p5>
                        RESERVE TODAY
                    </p5>
                </div>
        </header>    
    </body>
{% endblock %}
