{% extends 'base.html' %}
{% load static %}

{% block content %}
        <header class="header">
            <div class="picnic-container">
                <div class="picnicimage" style="background-image: url('{% static 'rezsystem/images/sheltermaps/19&20.jpg' %}')">
                    <div class="picnictext">
                        <h1>Picnic Shelters</h1>
                    </div>
                </div>
            </div>
        </header>    
            <div class="picnicinfo">
                <div class="index-boxtable">
                    <div class="index-boxrow">
                        <div class="index-boxcell1">PICNIC IN</div>
                    </div>
                    <div class="index-boxrow">
                        <div class="index-boxcell2">OUR PARKS</div>
                    </div>
                    <div class="index-boxrow">
                        <div class="index-boxcell3">
                             <br>
                            Newport News has 33 picnic shelters in eight parks across the City that can be reserved.<br>
                            The city offers three sizes of shelters that accommodate different levels of people: <br>
                            <ul class="index-list">
                                <li>A Full Shelter, which accommodates approximately 35 people, has three to four tables and one grill.</li>
                                <li> A Large Shelter, which accomodates approximately 75 people, has eight tables and one large grill.</li>
                                <li> A Group Shelter, which accommodates approximately 100 people, has fifteen tables and one large grill.</li>
                            </ul>
                            <br>
                            Electricity is available at some shelters. All parks are open Sunrise to Sunset.
                            Reserved shelters are cleaned by 10:00 a.m. Picnics with special activities (rental equipment, entertainment, weddings, etc.) must contact the 
                            Special Activity Coordinator (757-886-7912) for permit information. 
                        </div>
                    </div>
                    <div class="index-boxrow">
                        <div class="index-boxcell4">
                            <br>
                            Reservations can be charged over the phone by calling 757-888-3333 or toll free at 1-800-203-8322. <br>
                            Reservations can also be made in person at the Newport News Park Campsite Office, Deer Park, or the Parks & Recreation Office at 700 Town Center Drive (3rd floor). 
                            Credit cards are accepted at the Newport News Park Campsite Office.<br><br>
                        </div>
                    </div>
                    <div class="index-boxrow">
                        <div class="index-boxcell5">
                            RESERVE TODAY
                        </div>    
                    </div>
                </div> 
            </div> 
{% endblock %}
