{% extends 'base.html' %}

{% load static %}
{% block content %}

<body>
    <div class="rules-boxtable">
        <div class="rules-boxrow">
            <div class="rules-boxcell1">RULES AND REGULATIONS</div>
            <br>
        </div>
        <div class="rules-boxrow">
            <div class="rules-boxcell2">
                <div class="rules-underline2"><b>REFUND POLICY:</b></div>
                <ul class="refund-list">
                    <li>Refund or rescheduling requests must be received at least 14 days prior to event date.</li>
                    <li>Refunds are not given due to inclement weather and rain dates will not be issued.</li>
                    <li>Payments originally made by cash or check will be returned by check from the City of Newport News and can take 3-4 weeks to process.</li> 
                    <li>Payments originally made by credit card will be issued to the original credit card used and may take 7-10 business days to process.</li>
                </ul>
            </div>
                <br>
                <div class="rules-underline"><b>RULES:</b></div>
                <ul class="rules-list1">
                    <li><b>By permit only:</b> amusement rides/equipment, pony rides, petting zoo, dunk tanks, weddings, stage use, tents, generators, amplified sound, fundraising, vending, etc.</li>
                    <li>Requests for special permits must be submitted via a Special Activity Application at least 3 WEEKS in advance. Call (757) 886-7912 for information.</li>
                    <li>All city parks are open sunrise to sunset.</li>
                    <li>Park staff guarantees that your reserved shelter will be cleaned by 10 am.</li>
                    <li>Reserved shelters will be posted with group name on the day of the picnic.</li>
                    <li>Please park in designated parking spaces only.</li>
                    <li>Picnic supplies must be hand carried from the parking lot to the shelter. Motor vehicles cannot be driven to the picnic shelter.</li>
                    <li>The pavilion should be left in good condition; i.e. all trash placed in trash cans and all excess trash should be taken offsite or to the closest dumpster. Please pick up all litter from the ground.</li>
                    <li>Any violation of rules or capacity limits may result in termination of your event.</li>
                    <li>If you would like assistance with planning a reunion, please call (757) 886-7777.</li>
                </ul>    
            </div>
            <div class="rules-underline"><b>PROHIBITED ITEMS:</b></div>
                <ul class="rules-list2">
                    <li>Outside grills and fryers.</li>
                    <li>Balloons, balloon releases, water balloons, pinatas, confetti/glitter, silly string, sidewalk chalk, gender reveal items that explode or expel items.</li>
                    <li>Use of staples, nails, tape or tacks for hanging items on picnic shelters.</li>
                    <li>Alcoholic beverages.</li>
                    <li>Amplified music and/or sound.</li>
                    <li>Onsite collection of money, sale of foods, services or other products</li>
                    <li>Dogs off leash.</li>
                </ul>
            <div class="rules-boxcell4"><b>Any violations of rules or capacity limits may result in termination of your event.</b></div>             
        </div>
    </div>
    <div class="rules-boxtable2">
        <div class="rules-boxrow">
            <div class="rules-boxcell5"><b>ADDITIONAL QUESTIONS</b></div>
            <br>
            Call (757) 888-3333 for staff assistance or for park ranger.
        </div>
    </div>
</body>
{% endblock %}