body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(223, 221, 221);
}

.faqh1 h1{
    margin-top: 50px; 
    text-align: center; 
    font-size: 48px; 
    color: rgb(36, 60, 123); 
    font-family: "Helvetica", sans-serif;
}

.line {
    width: 80%;
    height: 2px; 
    background-color: rgb(36, 60, 123) ;
    margin: 20px auto;
}

.faq-container {
    display: flex;
    flex-direction: column;
    width: 65%;
    margin: 2px auto 0;
    padding: 20px;
    background: rgb(221, 221, 223);
    align-items: center;
}

.faq-item {
    width: 100%;
    max-width: 800px;
    background-color: #fff;
    border: 1px solid black; 
    border-radius: 0;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
}

.faq-question {
    width: 100%;
    padding: 15px;
    text-align: left;
    border: none;
    background-color:rgb(36, 60, 123); 
    font-size: 20px;
    font-family: "Helvetica", sans-serif; 
    font-weight: bold;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    color: white; 
    position: relative;
    display: flex;
    align-items: center;
}

.faq-question:hover {
    background-color: white; 
    color: rgb(224, 87, 72); 
}

.arrow {
    position: absolute;
    right: 10px;
    font-size: 18px; 
    position: absolute; 
    right: 15px; 
    top: 50%; 
    transform: translateY(-50%);
    transition: transform 0.3s; 
}

.faq-answer {
    display: none;
    padding: 15px;
    background-color: #fff;
    border-top: 1px solid black; 
    font-family: "Helvetica", sans-serif; 
    font-size: 16px;
    color: black; 
}

.faq-item.active .arrow {
    transform: translateY(-50%) rotate(180deg);
}

.faq-item.active .faq-answer {
    display: block; 
}

.faq-image{
    max-width: 50%;
    height: auto;
    margin: 0 auto;
}