
.picnic-container {
    position: relative;
    top: 0px;
    left: 0;
    margin-top: 0px;
    padding: 0;
    height: 100vh; 
    width: 100vw;
    overflow: hidden;
}

.picnicimage {
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.picnictext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255); 
    font-family: "Helvetica", sans-serif;
    font-size: 1.8vw;
    font-weight: bold;
    margin: 0;
    text-shadow: 0.1px 0.1px 0.1px black;
    white-space: nowrap;
    z-index: 1;
}

.picnicinfo {
    width: 100%;
    max-width: 1000px;
    margin-top: 530px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    padding: 0px;
    color: black;
}

.index-boxtable {
    margin-top: 0 auto;
    display: table;
    width: 100%;
}

.index-boxrow {
    display: table-row;
}

.index-boxcell {
    display: table-cell;
    padding: 15px;
    border: 1px black; 
    vertical-align: top;
}

.index-boxcell1, .index-boxcell2, .index-boxcell5 {
    font-size: 50px;
    font-family: "Helvetica", sans-serif;
    font-weight: bold;
    border: 1px black;
    text-align: center;
}

.index-boxcell1, .index-boxcell5 {
    color: black;
}

.index-boxcell2 {
    color: #7BAE78
}

.index-boxcell3 {
    font-size: 20px;
    font-family: "Arial", sans-serif;
    line-height: 1.3;
    border: 1px black; 
    text-align: left;
}

.index-boxcell4 {
    font-size: 18px;
    font-family: "Arial", sans-serif;
    line-height: 1.3;
    border: 1px black; 
    text-align: center;
}
.index-boxcell4 li{
    text-align: left;
}

.index-boxcell6{
    font-size: 20px;
    font-family: "Arial", sans-serif;
    line-height: 1.3;
    text-align: center;
}
.index-list {
    list-style-type: none;
    margin: 0;
    padding-left: 0; 
    display: table;
    width: 100%;
    border: 1px solid rgb(126, 126, 126); /* Border around the whole table */
}

.index-list li {
    display: grid;
    grid-template-columns: 1.25fr 1.5fr 2fr 1fr; 
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.list-cell {
    padding: 10px; 
    border-right: 1px solid #ddd; /* Light border on the right side of each cell */
}

.index-list li .list-cell:last-child {
    border-right: none;
}

.index-list li:first-of-type{
    background-color: #3B3A3A;
    color: white;
}

.index-list li:nth-child(odd):not(:first-of-type){
    background-color: #f9f9f9;
}

.index-list li:nth-child(even){
    background-color: #e9e9e9;
}

.button-link {
    display: inline-block; 
    padding: 15px 25px; 
    font-size: 30px; 
    color: #fff; 
    background-color: #7BAE78;
    border-radius: 10px; 
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
}

.button-link:hover {
    background-color: #6a9a68; 
    transform: translateY(-2px); 
}

.button-link:active {
    background-color: #00408a; 
    transform: translateY(0); 
}
